*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
}
body{
    display: flex;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    font-weight: 400;
}
hr{
    margin: 15px 0px 15px 0px;
}
a{
    color: black;
    text-decoration: underline;
}
input[type=range]{
    width: 100%;
}
#userDate{
    margin-bottom: 15px;
}
#map{
    flex-grow: 1;
}
#panelLeft{
    width: 200px;
    padding: 15px;
    border-right: 1px solid black;
    overflow-y: scroll;
}
#panelLeft > button{
    width:100%;
    margin-top:10px;
}
#brightness, #contrast, #gamma, 
#shadow_dilation, #laplacian_dilation, 
#hillshade_dilation, #hillshade_color, #hillshade_color_power, 
#laplacian, #slope{
    display:none; 
}
#mapControls > div{
    margin-bottom:20px;
}
#mapControls > div label {
    display:block;
    text-align: center;
}
#mapControls > div > div {
    width:100%;
    display: grid;
    grid-template-columns: auto 50px;
}
#mapControls > div > div > div{
    padding-left: 5px;
}
#modesSelect{
    width:100%;
    padding: 3px;
    margin-top: 5px;
}
#copyrights{
    margin:30px;
    text-align: center;
}
#copyrights img{
    width: 20px;
    padding: 5px;
}